// Modals
.modal-button {
	margin-bottom: 8px;
	height: auto;
	width: 100%;
	.btn {
		width: 100%;
	}
	.btn__content {
		background: transparent !important;
		border-radius: 12px !important;
		height: 61px !important;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		justify-content: space-between;
		border-color: #D7D7D7 !important;
		.slot-icon {
			color: #5E5E5E;
		}
		.text {
			color: #5E5E5E;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.modal-input-text {
		visibility: hidden;
		height: 0;
		width: 0;
		min-width: 0;
		min-height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		pointer-events: none;
	}
}

.close-dialog {
	margin-left: auto;
	max-width: max-content;
	pointer-events: auto;
	opacity: 1;
	transition: all .3s ease-in-out;
	&.disable {
		pointer-events: none;
		opacity: 0;
	}
	.btn:not([disabled]):hover {
		background: transparent !important;
		.btn__content {
			background: transparent !important;
		}
	}
	.btn__content {
		padding: 0 !important;
		height: auto !important;
	}
}

.modal-dialog,
.modal-validate {
	background: $pink;
	@media screen and (max-width: 560px) {
		display: block !important;
		pointer-events: none;
		.dialog__dialog.dialog__dialog--centered {
			transform: translateY(100%);
			transition: transform .4s ease-in-out;
			align-items: flex-end !important;
		}
		&.fade-in {
			pointer-events: auto;
			.dialog__dialog.dialog__dialog--centered {
				transform: translateY(0);
			}
		}
	
	}
	.dialog__dialog__content__header {
		padding-bottom: 0;
		[name=heading] {
			margin-bottom: 12px !important;
			line-height: 29px;
			color: #2D2828 !important;
			* {
				line-height: 29px;
				color: #2D2828 !important;
			}
		}
		[name=paragraph] {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #2D2828;
			* {
				font-weight: 300;
				font-size: 16px;
				line-height: 20px;
				color: #2D2828;
			}
		}
	}
	.dialog__dialog__content {
		background: $pink !important;
		width: 100% !important;
		max-width: 560px !important;
		border-radius: 30px !important;
		@media screen and (max-width: 560px) {
			margin: 0 !important;
			border-radius: 30px 30px 0 0 !important;
			overflow: auto;
			&:before {
				content: '';
				background: #FFFFFF;
				border-radius: 5.5px;
				display: block;
				width: 100px;
				height: 5px;
				margin: 0 auto;
				position: relative;
				top: -17px;
			}
		}
		
	}
	.step-card {
		max-width: max-content;
		margin: 0 auto;
	}
	 .dialog__dialog__content__body {
		 .form-options {
			 max-width: 395px;
			 width: 100%;
			 margin: 0 auto;
			 margin-bottom: 50px;
			 @media screen and (max-width: 560px) {
				 margin-bottom: 30px;
			 }
			 
		 }
		 .form-option {
			 .text-field {
				 .text-field__field {
					 border-color: #D7D7D7 !important;
					 .label.label {
						 color: $success !important;
					 }
				 }
				 &.text-field--focus {
					 .text-field__field {
						 border-color: $color-new-grey !important;
						 .label.label {
							 color: $color-new-grey !important;
						 }
					 }
				 }
			 }
			 &.text-field-orange {
				 .text-field {
					 .text-field__field {
						 border-color: #D7D7D7 !important;
						 .label.label {
							 color: $orange !important;
						 }
					 }
					 &.text-field--focus {
						 .text-field__field {
							 border-color: $color-new-grey !important;
							 .label.label {
								 color: $color-new-grey !important;
							 }
						 }
					 }
				 }
			 }
			 // date
			 &.birthday-picker {
				 width: 100%;
				 > div {
					 width: 100%;
				 }
				 .date-picker--has-selector {
					 top: 100%;
				 }
				 [name=button] .btn--text.btn--primary.btn--outlined .btn__content,
				 [name=button] .btn--text.btn--primary.btn--text .btn__content {
					 color: $orange;
				 }
			 }
			 &.select-wrapper .placeholder-label {
				 color: $orange !important;
			 }
		 }
	 }
	
}

.modal-validate {
	background: $light-sky;
	.close-dialog {
		color: $success;
		
		.btn__content {
			color: inherit !important;
		}
	}
	.dialog__dialog__content {
		background: $light-sky !important;
	}
	.dialog__dialog__content__body {
		.form-option {
			// date
			&.birthday-picker {
				[name=button] .btn--text.btn--primary.btn--outlined .btn__content,
				[name=button] .btn--text.btn--primary.btn--text .btn__content {
					color: $success;
				}
			}
			&.select-wrapper .placeholder-label {
				color: $success !important;
			}
		}
	}
}

.offer-dialog {
	background: #ffffff;

	.close-dialog {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: center;
		height: auto;
		min-height: initial;
		* {
			color: #2D2828;
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
		}
		i.fal {
			margin-left: 12px;
			font-size: 22px;
			font-weight: 300;
		}
		.btn__content {
			background: transparent !important;
			border: none;
		}
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
	#lamp-modal-icon {
		position: relative;
		top: -16px;
		max-width: max-content;
		left: 72px;
	}
	.dialog__dialog__content__header {
		padding-bottom: 0;
		> div {
			display: flex;
			align-items: flex-start;
		}
		img {
			max-height: 120px;
		}
		[name=heading] {
			margin-bottom: 12px !important;
			line-height: 29px;
			color: #2D2828 !important;
			* {
				line-height: 29px;
				color: #2D2828 !important;
			}
		}
		[name=paragraph] {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #2D2828;
			* {
				font-weight: 300;
				font-size: 16px;
				line-height: 20px;
				color: #2D2828;
			}
		}
	}
	.dialog__dialog__content {
		background: #fff !important;
		width: 100% !important;
		max-width: 560px !important;
		border-radius: 30px !important;
		@media screen and (max-width: 560px) {
			margin: 0 !important;
			max-height: 100vh !important;
			height: 100% !important;
			border-radius: 0 !important;
		}
	}
	.dialog__dialog__content__body {
		padding: 0 24px 24px !important;
		[name=heading] .heading {
			margin-bottom: 24px;
			@media screen and (max-width: 560px) {
				text-align: left !important;
			}
		}
		ul {
			list-style: disc;
			padding-left: 20px;
			> li {
				color: #2D2828;
				font-weight: 300;
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	.offer-content {
		display: block;
		padding: 0 24px;
		@media screen and (max-width: 560px) {
			padding: 0 0 0 20px;
		}
	}
	.offer-button {
		margin-top: 24px;
	}
	.offer-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.footer-text {
			max-width: 570px;
			width: 100%;
			display: block;
			margin: 0 auto;
			padding-left: 24px;
			padding-right: 24px;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #5E5E5E;
			&:last-of-type {
				margin-bottom: 50px;
			}
			.paragraph {
				font-weight: 300;
				font-size: 14px;
				line-height: 17px;
				text-align: left !important;
				color: #5E5E5E;
			}
		}
	}
}