.step-form-wrapper {
	max-width: 395px;
	width: 100%;
	display: block;
	margin: 0 auto;
	&.date-select {
		max-width: 327px;
	}
}

.step-form {
	background: transparent;
	border-radius: 8px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 0 12px;
	min-height: initial;
	margin: 0 auto;
}

.form-options {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	&.confirmation {
		
	}
}

[name=text-field] .text-field .text-field__info {
	top: 0 !important;
	[class^=icon-], [class*=" icon-"] {
		color: #5E5E5E !important;
	}
}

.form-option {
	margin-bottom: 8px;
	width: 100%;

	.text-field {
		min-height: 61px;
		height: auto;
		border-radius: 12px;
		[name=text-field] .text-field--has-label-inside .text-field__info, [name=text-field] .text-field--no-label .text-field__info {
			top: 0 !important;
		}
		.text-field__field {
			border-color: #D7D7D7 !important;
		}
		&.text-field--focus {
			.text-field__field {
				border-color: $orange !important;
				.label.label {
					color: $color-new-grey !important;
				}
			}
		}
		.text-field__field {
			height: inherit;
			min-height: inherit;
			border-radius: inherit;
			border-color: $orange;
			transition: all .3s ease-in-out;
			.label.label {
				white-space: pre-line;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				padding: 0;
				transition: color .3s ease-in-out;
			}
		}
		&.text-field--has-label-inside {
			.text-field__field__component {
				padding-top: 30px;
			}
		}
	}
	&.date-picker {
		margin: 0 auto;
		margin-bottom: 8px;
		max-width: 100%;
		.date-picker__selector__slot {
			width: 100%;
		}
		.text-field {
			min-height: 48px;
			.text-field__field {
				display: flex;
				align-items: center;
				border-color: #D7D7D7;
			}
			&--focus {
				.text-field__field {
					border-color: $orange;
				}
			}
		
		}
		.date-picker--has-selector {
			position: relative !important;
			top: 12px !important;
		}
	}
	&.birthday-picker {
		margin: 0 auto;
		margin-bottom: 8px;
		max-width: 100%;
		.date-picker__selector__slot {
			width: 100%;
		}
		[name=input-textarea] .input-textarea.input-textarea {
			color: #5E5E5E;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
		}
		.text-field {
			min-height: 61px;
			.text-field__field {
				display: flex;
				align-items: center;
				padding-left: 16px;
				padding-right: calc(24px + 16px + 16px);
			}
			.text-field__icon--leading {
				right: 16px;
				left: initial;
			}
		}
	}
	// select
	&.select-wrapper {
		display: block;
		width: 100%;
		height: 60px;
		margin-bottom: 8px;
		.select-country-hidden {
			visibility: hidden;
			height: 0;
			width: 0;
			min-width: 0;
			min-height: 0;
			margin: 0;
			padding: 0;
			opacity: 0;
			pointer-events: none;
		}
		.dropholder {
			width: 100%;
			height: auto;
			border-radius: 12px;
			border: 1px solid #D7D7D7;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #5E5E5E;
			position: relative;
			box-sizing: border-box;
		}
		.holder {
			line-height: 60px;
			font-size: 16px;
			margin: 0;
			padding-left: 16px;
			padding-right: 40px;
			color: #A7A7A7;
			&.has-value {
				color: #000;
				padding-top: 30px;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
			}
		}
		.placeholder-label {
			white-space: pre-line;
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			padding: 0;
			transition: color .3s ease-in-out;
			color: $orange !important;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			width: 100%;
			left: 16px;
			top: 8px;
			&.show {
				opacity: 1;
			}
			&.validate {
				color: $success !important;
			}
		}
		.dropdown,
		.dropholder {
			background: #fff;
		}
		.dropdown {
			width: 100%;
			border-radius: 10px;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #5E5E5E;
			cursor: pointer;
			height: 60px;
			position: relative;
			box-sizing: border-box;
			z-index: 20;
			.dropdown-icon {
				font-size: 24px;
				position: absolute;
				width: 24px;
				height: 24px;
				right: 16px;
				top: 18px;
				display: block;
				color: #5E5E5E;
				pointer-events: none;
				transform: rotate(0);
			}
			&.active {
				.dropdown-icon {
					transform: rotate(180deg);
				}
				+ .dropdownOption {
					display: block;
				}
			}
		}
		
		.dropdownOption {
			padding: 0;
			position: absolute;
			left: 0;
			top: 100%;
			right: 0;
			margin: 0;
			cursor: pointer;
			display: none;
			background: #fff;
			border-radius: 12px;
			border: 1px solid #D7D7D7;
			z-index: 25;
			overflow: hidden;
			li {
				padding: 10px 15px;
				font-weight: 300;
				font-size: 16px;
				line-height: 20px;
				color: #5E5E5E;
				list-style: none;
				transition: all .3s;
				background-color: #fff;
				&:hover {
					color: $color-new-grey;
					background-color: #F8F8F8;
				}
				&.current {
					//background-color: $pink;
					color: #5E5E5E;
				}
				&.disable {
					color: #A7A7A7 !important;
				}
			}
		}
		
	}

}

.phone-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 440px) {
		flex-wrap: wrap;
	}
	.country-code {
		width: calc(36% - 8px);
		margin-right: 8px;
		@media screen and (max-width: 440px) {
			width: 100%;
			margin-right: 0;
		}
		.placeholder-label {
			opacity: 1;
		}
		.holder {
			color: #000;
			padding-top: 30px;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}
		.dropdown .dropdown-icon {
			top: 28px;
		}
	}
	.phone-number {
		width: 64%;
		@media screen and (max-width: 440px) {
			width: 100%;
		}
	}
}

.confirm-action,
.confirm-action-modal {
	+ .confirm-action,
	+ .confirm-action-modal {
		margin-top: 8px;
	}
	[name=card] .card.card {
		background: #E5F2F0;
		border-radius: 12px;
		border-color: #E5F2F0;
		.card__content {
			padding: 13px 12px;
		}
	}
	.quick-action__text {
		padding-left: 13px;
	}
	.after-titles {
		font-size: 24px;
	}
	[name=paragraph] .paragraph.paragraph--primary-500 {
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #2D2828 !important;
	}
	[name=paragraph] .paragraph.body-2 {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #2D2828 !important;
	}
/*	&.address {
		[name=paragraph].body-2 {
			max-width: 120px;
		}
	}*/
}