@font-face {
  font-family: 'Enovos-Icons';
  src: local("Enovos-Icons"), url("../fonts/Enovos-Icons.woff") format("woff"), url("../fonts/Enovos-Icons.woff2") format("woff2"), url("../fonts/Enovos-Icons.ttf") format("truetype");
  /* OLD Safari, Android, iOS */ }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"), url("../fonts/montserrat-0.woff") format("woff"), url("../fonts/montserrat-0.woff2") format("woff2"), url("../fonts/montserrat-0.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), url("../fonts/montserrat-1.woff") format("woff"), url("../fonts/montserrat-1.woff2") format("woff2"), url("../fonts/montserrat-1.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), url("../fonts/montserrat-2.woff") format("woff"), url("../fonts/montserrat-2.woff2") format("woff2"), url("../fonts/montserrat-2.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), url("../fonts/montserrat-3.woff") format("woff"), url("../fonts/montserrat-3.woff2") format("woff2"), url("../fonts/montserrat-3.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: local("Font Awesome 5 Pro Regular"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: local("Font Awesome 5 Pro Solid"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
/*
* Colors
*/
.color-new-grey {
  color: #2D2828; }
  .color-new-grey *,
  .color-new-grey .link.link,
  .color-new-grey .heading {
    color: inherit !important; }

body {
  font-family: "Montserrat", sans-serif;
  height: 100%; }

main {
  padding-top: 70px;
  min-height: calc(100vh - 154px);
  display: block; }

strong, b {
  font-weight: 600; }

/*                        
* Other
*/
.container {
  max-width: 552px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (max-width: 560px) {
    .container {
      max-width: 100%; } }

.page-heading {
  margin-bottom: 24px;
  display: block; }
  @media screen and (max-width: 560px) {
    .page-heading .heading,
    .page-heading .paragraph {
      text-align: left !important; } }

.size-icon-23 .icon {
  font-size: 23px; }

.mb-15 {
  margin-bottom: 15px; }

.custom-paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #2D2828; }
  .custom-paragraph * {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit; }

footer {
  padding-top: 70px;
  padding-bottom: 52px;
  display: flex;
  align-items: center;
  justify-content: center; }

#logo-footer {
  width: 77px; }

.steps-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px; }
  @media screen and (max-width: 1024px) {
    .steps-navigation {
      margin-bottom: 60px;
      width: 100%;
      max-width: 100%; } }
  .steps-navigation .step {
    border-radius: 4px;
    background: #D7D7D7;
    width: 16px;
    height: 5px;
    transition: all .3s ease-in-out;
    display: block; }
    .steps-navigation .step:not(:last-of-type) {
      margin-right: 4px; }
    .steps-navigation .step.active {
      width: 32px;
      background: linear-gradient(90deg, #FF7900 0%, #D52B1E 100%); }

.step-card-wrapper {
  max-width: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin: 0 auto; }

.step-card {
  background: #E5F2F0;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 34px 12px;
  min-height: 324px; }
  .step-card.orange {
    background: #FFF1E5; }
  .step-card .image {
    max-height: 120px;
    object-fit: contain; }
  .step-card.mandarin {
    background: #FDE5E5; }
  .step-card.red {
    background: #FDE5E5; }

.step-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-top: 20px;
  margin-left: -10px; }

.step-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  color: #2D2828;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  min-height: 102px;
  min-width: 119px;
  max-width: 119px;
  width: 100%;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px; }
  .step-option.centered {
    justify-content: center;
    padding: 10px; }
    .step-option.centered .step-option__image {
      margin-bottom: 8px; }
  .step-option.bottom {
    justify-content: flex-end; }
  .step-option__image {
    max-width: 36px;
    margin-bottom: 12px;
    min-height: 32px; }
    .step-option__image .custom-icon {
      font-size: 32px;
      color: inherit; }
      .step-option__image .custom-icon * {
        font-size: inherit; }
  .step-option__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    text-align: center; }
  .step-option [type="checkbox"],
  .step-option [type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer; }
  .step-option .active-icon {
    pointer-events: none;
    display: none; }
  .step-option.active {
    background: #00856A;
    border-color: #00856A;
    color: #FFFFFF; }
  .step-option.checkbox .active-icon, .step-option.radio .active-icon {
    opacity: 0;
    pointer-events: auto;
    background: #FFFFFF;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -16px;
    left: initial;
    top: initial;
    bottom: -16px;
    color: #00856A;
    padding: 4px;
    font-size: 27px;
    transition: opacity .3s ease-in-out; }
    .step-option.checkbox .active-icon > .icon, .step-option.radio .active-icon > .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: inherit !important; }
  .step-option.checkbox.active .active-icon, .step-option.radio.active .active-icon {
    opacity: 1; }
  .step-option.orange.active {
    background: #F76700;
    border-color: #F76700;
    color: #FFFFFF; }
  .step-option.orange.checkbox .active-icon, .step-option.orange.radio .active-icon {
    color: #F76700; }
  .step-option.red.active {
    background: #EB0000;
    border-color: #EB0000;
    color: #FFFFFF; }
  .step-option.red.checkbox .active-icon, .step-option.red.radio .active-icon {
    color: #EB0000; }
  .step-option.mandarin.active {
    background: #D52B1E;
    border-color: #D52B1E;
    color: #FFFFFF; }
  .step-option.mandarin.checkbox .active-icon, .step-option.mandarin.radio .active-icon {
    color: #D52B1E; }

.step-card-action {
  opacity: 0;
  pointer-events: none;
  max-width: 326px;
  width: 100%;
  height: auto;
  transition: opacity .3s ease-in-out;
  background: #E5F2F0;
  border-radius: 8px;
  padding: 22px 40px;
  margin-top: 24px;
  display: none; }
  .step-card-action.show {
    opacity: 1;
    pointer-events: auto;
    display: block; }
  .step-card-action.transparent {
    background: transparent; }
  .step-card-action.full-width {
    max-width: 100%;
    padding: 0; }
  .step-card-action .heading {
    margin-bottom: 19px; }
  .step-card-action [name=text-field] .text-field__field {
    border-radius: 22px; }
  .step-card-action .assistive-text {
    padding: 0;
    padding-left: 4px;
    margin-top: 4px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #2D2828; }
    .step-card-action .assistive-text .assistive-text__icon {
      display: none; }
  .step-card-action [name=button] .btn.btn .btn__content {
    background: #2D2828;
    font-size: 14px;
    line-height: 17px;
    border-radius: 22px; }

.step-card-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px; }

.step-card-previous.disable,
.step-card-next.disable {
  pointer-events: none;
  opacity: .3; }

#fruit-top-icon {
  width: 74px;
  margin: 0 auto; }

.step-form-wrapper {
  max-width: 395px;
  width: 100%;
  display: block;
  margin: 0 auto; }
  .step-form-wrapper.date-select {
    max-width: 327px; }

.step-form {
  background: transparent;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 0 12px;
  min-height: initial;
  margin: 0 auto; }

.form-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%; }

.form-option {
  margin-bottom: 8px;
  width: 100%; }
  .form-option .text-field {
    min-height: 61px;
    height: auto;
    border-radius: 12px; }
    .form-option .text-field.text-field--focus .text-field__field {
      border-color: #F76700; }
      .form-option .text-field.text-field--focus .text-field__field .label.label {
        color: #2D2828 !important; }
    .form-option .text-field .text-field__field {
      height: inherit;
      min-height: inherit;
      border-radius: inherit;
      border-color: #F76700;
      transition: all .3s ease-in-out; }
      .form-option .text-field .text-field__field .label.label {
        white-space: pre-line;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        padding: 0;
        transition: color .3s ease-in-out; }
    .form-option .text-field.text-field--has-label-inside .text-field__field__component {
      padding-top: 30px; }
  .form-option.date-picker {
    margin: 0 auto;
    margin-bottom: 8px;
    max-width: 100%; }
    .form-option.date-picker .date-picker__selector__slot {
      width: 100%; }
    .form-option.date-picker .text-field {
      min-height: 48px; }
      .form-option.date-picker .text-field .text-field__field {
        display: flex;
        align-items: center; }
    .form-option.date-picker .date-picker--has-selector {
      position: relative !important;
      top: 12px !important; }

.modal-button {
  margin-bottom: 8px;
  height: auto;
  width: 100%; }
  .modal-button .btn {
    width: 100%; }
  .modal-button .btn__content {
    background: transparent !important;
    border-radius: 12px !important;
    height: 61px !important;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    justify-content: space-between; }
    .modal-button .btn__content .slot-icon {
      color: #5E5E5E; }
    .modal-button .btn__content .text {
      color: #5E5E5E;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px; }

.close-dialog {
  margin-left: auto;
  max-width: max-content;
  pointer-events: auto;
  opacity: 1;
  transition: all .3s ease-in-out; }
  .close-dialog.disable {
    pointer-events: none;
    opacity: 0; }
  .close-dialog .btn__content {
    padding: 0 !important;
    height: auto !important; }

.modal-dialog {
  background: #FFF1E5; }
  @media screen and (max-width: 560px) {
    .modal-dialog {
      display: block !important;
      pointer-events: none; }
      .modal-dialog .dialog__dialog.dialog__dialog--centered {
        transform: translateY(100%);
        transition: transform .4s ease-in-out;
        align-items: flex-end !important; }
      .modal-dialog.fade-in {
        pointer-events: auto; }
        .modal-dialog.fade-in .dialog__dialog.dialog__dialog--centered {
          transform: translateY(0); } }
  .modal-dialog .dialog__dialog__content__header {
    padding-bottom: 0; }
    .modal-dialog .dialog__dialog__content__header [name=heading] {
      margin-bottom: 12px !important;
      line-height: 29px;
      color: #2D2828 !important; }
      .modal-dialog .dialog__dialog__content__header [name=heading] * {
        line-height: 29px;
        color: #2D2828 !important; }
    .modal-dialog .dialog__dialog__content__header [name=paragraph] {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #2D2828; }
      .modal-dialog .dialog__dialog__content__header [name=paragraph] * {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #2D2828; }
  .modal-dialog .dialog__dialog__content {
    background: #FFF1E5 !important;
    width: 100% !important;
    max-width: 560px !important;
    border-radius: 30px !important; }
    @media screen and (max-width: 560px) {
      .modal-dialog .dialog__dialog__content {
        margin: 0 !important;
        border-radius: 30px 30px 0 0 !important; }
        .modal-dialog .dialog__dialog__content:before {
          content: '';
          background: #FFFFFF;
          border-radius: 5.5px;
          display: block;
          width: 100px;
          height: 5px;
          margin: 0 auto;
          position: relative;
          top: -17px; } }
  .modal-dialog .step-card {
    max-width: max-content;
    margin: 0 auto; }

.offer-dialog {
  background: #ffffff; }
  .offer-dialog .close-dialog {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
    min-height: initial; }
    .offer-dialog .close-dialog * {
      color: #2D2828;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px; }
    .offer-dialog .close-dialog i.fal {
      margin-left: 12px;
      font-size: 22px;
      font-weight: 300; }
    .offer-dialog .close-dialog .btn__content {
      background: transparent !important;
      border: none; }
    .offer-dialog .close-dialog:hover, .offer-dialog .close-dialog:focus {
      cursor: pointer; }
  .offer-dialog #lamp-modal-icon {
    position: relative;
    top: -16px;
    max-width: max-content;
    left: 72px; }
  .offer-dialog .dialog__dialog__content__header {
    padding-bottom: 0; }
    .offer-dialog .dialog__dialog__content__header > div {
      display: flex;
      align-items: flex-start; }
    .offer-dialog .dialog__dialog__content__header img {
      max-height: 120px; }
    .offer-dialog .dialog__dialog__content__header [name=heading] {
      margin-bottom: 12px !important;
      line-height: 29px;
      color: #2D2828 !important; }
      .offer-dialog .dialog__dialog__content__header [name=heading] * {
        line-height: 29px;
        color: #2D2828 !important; }
    .offer-dialog .dialog__dialog__content__header [name=paragraph] {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #2D2828; }
      .offer-dialog .dialog__dialog__content__header [name=paragraph] * {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #2D2828; }
  .offer-dialog .dialog__dialog__content {
    background: #fff !important;
    width: 100% !important;
    max-width: 560px !important;
    border-radius: 30px !important; }
    @media screen and (max-width: 560px) {
      .offer-dialog .dialog__dialog__content {
        margin: 0 !important;
        max-height: 100vh !important;
        height: 100% !important;
        border-radius: 0 !important; } }
  .offer-dialog .dialog__dialog__content__body {
    padding: 0 24px 24px !important; }
    .offer-dialog .dialog__dialog__content__body [name=heading] .heading {
      margin-bottom: 24px; }
      @media screen and (max-width: 560px) {
        .offer-dialog .dialog__dialog__content__body [name=heading] .heading {
          text-align: left !important; } }
    .offer-dialog .dialog__dialog__content__body ul {
      list-style: disc;
      padding-left: 20px; }
      .offer-dialog .dialog__dialog__content__body ul > li {
        color: #2D2828;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px; }
  .offer-dialog .offer-content {
    display: block;
    padding: 0 24px; }
    @media screen and (max-width: 560px) {
      .offer-dialog .offer-content {
        padding: 0 0 0 20px; } }
  .offer-dialog .offer-button {
    margin-top: 24px; }
  .offer-dialog .offer-footer {
    display: none; }
    @media screen and (max-width: 560px) {
      .offer-dialog .offer-footer {
        display: flex; } }

.step-offer-wrapper {
  max-width: 327px;
  width: 100%;
  display: block;
  margin: 0 auto; }

.step-offer {
  background: transparent;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 0 12px;
  min-height: initial;
  margin: 0 auto; }

.offer-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%; }

.offer-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: #FFF1E5;
  border: 3px solid #FFF1E5;
  color: #2D2828;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  min-height: 120px;
  max-width: 327px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 12px; }
  .offer-option [type="checkbox"],
  .offer-option [type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer; }
  .offer-option__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    text-align: left;
    display: block; }
    .offer-option__title:hover .offer-option__sub-title, .offer-option__title:focus .offer-option__sub-title {
      color: #F76700; }
  .offer-option__sub-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    display: block;
    text-align: left;
    transition: color .3s ease-in-out; }
  .offer-option__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    margin-top: 8px;
    display: block;
    text-align: left; }
  .offer-option__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
    color: #F76700; }
    .offer-option__action * {
      color: inherit; }
    .offer-option__action .price {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px; }
    .offer-option__action > i {
      font-size: 25px; }
  .offer-option .active-icon {
    pointer-events: none;
    display: none; }
  .offer-option.active {
    border-color: #00856A;
    z-index: 5;
    margin-bottom: 28px; }
  .offer-option.radio .active-icon, .offer-option.checkbox .active-icon {
    opacity: 0;
    pointer-events: auto;
    background: #FFFFFF;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -16px;
    left: initial;
    top: initial;
    bottom: -16px;
    color: #00856A;
    padding: 4px;
    font-size: 27px;
    transition: opacity .3s ease-in-out; }
    .offer-option.radio .active-icon > .icon, .offer-option.checkbox .active-icon > .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: inherit !important; }
  .offer-option.radio.active .active-icon, .offer-option.checkbox.active .active-icon {
    opacity: 1; }
  .offer-option.orange.active {
    border-color: #F76700; }
  .offer-option.orange.checkbox .active-icon, .offer-option.orange.radio .active-icon {
    color: #F76700; }
  .offer-option.red.active {
    border-color: #EB0000; }
  .offer-option.red.checkbox .active-icon, .offer-option.red.radio .active-icon {
    color: #EB0000; }
  .offer-option.mandarin.active {
    border-color: #D52B1E; }
  .offer-option.mandarin.checkbox .active-icon, .offer-option.mandarin.radio .active-icon {
    color: #D52B1E; }

.offer-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 24px; }
  .offer-price .price {
    color: #F76700;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px; }
  .offer-price .price-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #5E5E5E; }

/*# sourceMappingURL=main.css.map */
