footer {
	padding-top: 70px;
	padding-bottom: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.footer-text {
		max-width: 570px;
		width: 100%;
		display: block;
		margin: 0 auto;
		padding-left: 24px;
		padding-right: 24px;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5E5E5E;
		&:last-of-type {
			margin-bottom: 75px;
		}
		.paragraph {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			text-align: left !important;
			color: #5E5E5E;
		}
	}
}

#logo-footer {
	width: 77px;
}