body {
	font-family: $montserrat;
	height: 100%;
	&.confirmation-page {
		background: url('../images/fond1Enovos.jpg') no-repeat;
		//background: url('../images/confirm-bg.png') no-repeat;
		background-size: contain;
		background-position: 50% 100%;
		width: 100%;
		height: 100%;
		display: block;
		@media screen and (max-width: 640px) {
			background: url('../images/fond1Enovos.jpg') no-repeat;
			//background: url('../images/confirm-bg-mobile.png') no-repeat;
			background-position: 40% 100%;
			background-size: cover;
		}
		main {
			padding-top: 30px;    // 100px
			@media screen and (max-width: 640px) {
				padding-top: 0; // 70px
				min-height: 10vh; // 100vh
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
		}
	}
}

main {
	padding-top: 70px;
//	min-height: calc(100vh - 154px);
	display: block;
}

strong, b {
	font-weight: 600;
}



/*                        
* Other
*/
.container {
	max-width: 570px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	@media screen and (max-width: 560px) {
		max-width: 100%;
	}
	&.login-page {
		.step-card-wrapper {
		 	max-width: 326px;
		}
		.page-heading {
			max-width: 326px;
			margin: 0 auto;
			margin-bottom: 24px;
			min-height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.heading {
				text-align: center;
				@media screen and (max-width: 560px) {
					text-align: center;
				}
				span {
					color: $success;
					margin-right: 5px;
				}
			}
		}
	}
	&.confirmation-page {
		.page-heading {
			max-width: 326px;
			margin: 0 auto;
			margin-bottom: 24px;
			min-height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.heading {
				text-align: center;
				color: $orange;
				font-size: 32px;
				line-height: 39px;
				@media screen and (max-width: 560px) {
					text-align: center !important;
				}
				span {
					color: $orange;
					margin-right: 5px;
				}
			}
			.custom-paragraph {
				margin-top: 24px;
				color: #2D2828 !important;
				text-align: center !important;
				@media screen and (max-width: 560px) {
					text-align: center !important;
				}
				* {
					color: inherit !important;
					text-align: inherit !important;
				}
			}
		}
		.step-card-wrapper {
			max-width: 100%;
		}
		.back-button {
			margin-top: 21px;
		}
	}
}

.helper-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;
	@media screen and (max-width: 1140px) {
		flex-wrap: wrap;
	}
}

.page-heading {
	margin-bottom: 24px;
	display: block;
	strong {
		font-weight: 700;
	}
	span.orange {
		color: $orange !important;
		font-weight: 700;
	}
	@media screen and (max-width: 560px) {
		.heading,
		.paragraph {
			text-align: left !important;
		}
	}
	&.offer {
		.top {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 560px) {
			.top .heading,
			.top .paragraph {
				text-align: center !important;
			}
		}
		.heading-h2 {
			margin-bottom: 15px;
		}
		.heading-h3 {
			margin-bottom: 8px;
			font-size: 20px;
			line-height: 1.2;
			min-height: initial;
			* {
				font-size: inherit;
				line-height: inherit;
				min-height: initial;
			}
		}
		
	}
}

.size-icon-23 {
	.icon {
		font-size: 23px;
	}
}

.mb-15 {
	margin-bottom: 15px;
}
.mb-25 {
	margin-bottom: 25px;
}

.custom-paragraph {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: $color-new-grey;
	* {
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}
.custom-paragraph-400 {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $color-new-grey;
	*, .paragraph {
		color: inherit !important;
		font-weight: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
	}
}

.sub-heading {
	span {
		color: $orange !important;
		font-weight: 700;
	}
	strong {
		font-weight: 700;
	}
}


.consentement-checkbox {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	.checkbox.checkbox {
		align-items: flex-start;
		.checkbox__shape {
			position: relative;
			min-width: 28px;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			margin-right: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			&__inner {
				border: 1px solid #D7D7D7;
				box-sizing: border-box;
				filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15151));
				width: 28px !important;
				height: 28px !important;
				border-radius: 50% !important;
				font-size: 27px;
			}
			&.active {
				.active-icon {
					opacity: 1;
				}
			}
		}
		label {
			margin-left: 0;
			color: $color-new-grey;
			font-size: 16px;
			line-height: 20px;
		}
	}

	
}


@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0.2, 0.2, 0.2);
		transform: scale3d(0.2, 0.2, 0.2);
	}
}
@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0.2, 0.2, 0.2);
		transform: scale3d(0.2, 0.2, 0.2);
	}
}
@-webkit-keyframes pulse2 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
}
@keyframes pulse2 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes pulse3 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	90% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse3 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	90% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.main-loader{
	position: fixed;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}
.loader1{
	width: 20px;
	height: 20px;
	background-color: #D7D7D7;
	border-radius: 50%;
	float: left;
	z-index: 9;
	position: absolute;
	left: 20px;
	top: 20px;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: center;
	animation-delay: 0s;
	transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader2{
	width: 40px;
	height: 40px;
	background-color: rgba(215, 215, 215, .8);
	border-radius: 50%;
	float: left;
	z-index: 8;
	opacity: 0.7;
	position: absolute;
	left: 10px;
	top: 10px;
	-webkit-animation-name: pulse2;
	animation-name: pulse2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 0.3s;
	transform-origin: center;
	transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader3{
	width: 60px;
	height: 60px;
	background-color: rgba(215, 215, 215, .6);
	border-radius: 50%;
	float: left;
	z-index: 7;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-animation-name: pulse3;
	animation-name: pulse3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
	transform-origin: center;
	transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-loader {
	position: fixed;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}

.preloader-group {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100vw;
	height: 100vh;
	z-index: 555;
}