body {
	font-family: $montserrat;
	height: 100%;
}

main {
	padding-top: 70px;
	min-height: calc(100vh - 154px);
	display: block;
}

strong, b {
	font-weight: 600;
}



/*                        
* Other
*/
.container {
	max-width: 552px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	@media screen and (max-width: 560px) {
		max-width: 100%;
	}
	&.login-page {
		.step-card-wrapper {
		 	max-width: 326px;
		}
		.page-heading {
			max-width: 326px;
			margin: 0 auto;
			margin-bottom: 24px;
			min-height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.heading {
				text-align: center;
				@media screen and (max-width: 560px) {
					text-align: center;
				}
				span {
					color: $success;
					margin-right: 5px;
				}
			}
		}
	}
}

.page-heading {
	margin-bottom: 24px;
	display: block;
	strong {
		font-weight: 700;
	}
	span.orange {
		color: $orange !important;
		font-weight: 700;
	}
	@media screen and (max-width: 560px) {
		.heading,
		.paragraph {
			text-align: left !important;
		}
	}
	&.offer {
		.top {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 560px) {
			.top .heading,
			.top .paragraph {
				text-align: center !important;
			}
		}
		.heading-h2 {
			margin-bottom: 15px;
		}
		
	}
}

.size-icon-23 {
	.icon {
		font-size: 23px;
	}
}

.mb-15 {
	margin-bottom: 15px;
}
.mb-25 {
	margin-bottom: 25px;
}

.custom-paragraph {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: $color-new-grey;
	* {
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}
.custom-paragraph-400 {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $color-new-grey;
	*, .paragraph {
		color: inherit !important;
		font-weight: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
	}
}

.sub-heading {
	span {
		color: $orange !important;
		font-weight: 700;
	}
	strong {
		font-weight: 700;
	}
}


.consentement-checkbox {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	.checkbox {
		position: relative;
		min-width: 28px;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 1px solid #D7D7D7;
		margin-right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		input {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 15;
			margin: 0;
			cursor: pointer;
		}
		.active-icon {
			opacity: 0;
			background: $orange;
			box-shadow: none;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 5;
			color: #fff;
			font-size: 27px;
			transition: opacity .3s ease-in-out;
			pointer-events: none;
			> .icon {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: inherit !important;
			}
		}
		&.active {
			.active-icon {
				opacity: 1;
			}
		}
	}
	.text {
		color: $color-new-grey;
		font-size: 16px;
		line-height: 20px;
	}
	
}
