.onboarding-page-main {
	@media screen and (max-width: 560px) {
		padding-top: 50px;
	}
}
.container.onboarding-page {
	max-width: 610px;
	padding-left: 0;
	padding-right: 0;
	.page-heading {
		max-width: 545px;
		margin: 0 auto;
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-left: 15px;
		padding-right: 15px;
		@media screen and (max-width: 560px) {
			justify-content: flex-start;
			margin-bottom: 0;
		}
		.heading {
			text-align: center;
			color: $color-new-grey;
			@media screen and (max-width: 560px) {
				text-align: left;
			}
			&.heading-h1 {
				font-size: 38px;
				line-height: 42px;
				font-weight: bold;
				margin-bottom: 24px;
				@media screen and (max-width: 360px) {
					font-size: 28px;
					line-height: 32px;
				}
			}
		}
		.custom-paragraph {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 0;
			.paragraph {
				color: inherit !important;
				@media screen and (max-width: 560px) {
					text-align: left;
				}
			}
		}
	}
}

.onboarding-wrapper {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	min-height: 462px;
	padding-top: 42px;
	padding-left: 15px;
	padding-right: 15px;
	@media screen and (max-width: 560px) {
		padding-top: 84px;
		margin-top: -54px;
		background-size: cover;
		background-position: 30% 50%;
	}
}

.postcode-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 267px;
	width: 100%;
	margin: 0 auto;
	@media screen and (max-width: 560px) {
		margin-left: 0;
		max-width: 200px;
	}
	.postcode-field {
		max-width: 178px;
		@media screen and (max-width: 560px) {
			max-width: 110px;
		}
		.text-field {
			&.text-field--has-label {
				margin-top: 5px;
			}
			.text-field__field {
				background: #FFFFFF;
				border: 1px solid #D7D7D7;
				border-radius: 0;
				&__container {
					position: relative;
					&:before {
						content: 'L -';
						font-weight: 600;
						font-size: 18px;
						line-height: 22px;
						color: #3B3232;
						height: 100%;
						display: flex;
						align-items: center;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						right: initial;
						pointer-events: none;
					}
				}
				.input-textarea {
					padding-left: 27px;
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					color: #3B3232;
				}
			}
		}
		.text-field__label {
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #5E5E5E;
			.label {
				color: inherit !important;
			}
		}
	}
	.start-btn {
		.btn .btn__content {
			border-radius: 0 24px 24px 0;
			
			.text {
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
			}
		}
		&.disabled {
			.btn .btn__content {
				background: #D7D7D7 !important;
			}
		}
	}
}


.form-option.select-wrapper.site-lang {
	height: 51px;
	min-width: 88px;
	@media screen and (max-width: 360px) {
		height: 40px;
	}
	.dropholder {
		border: none;
	}
	.dropdown {
		border: 1px solid #F76700;
		box-sizing: border-box;
		border-radius: 12px;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		color: #5E5E5E;
		height: 51px;
		@media screen and (max-width: 360px) {
			height: 40px;
		}
	}
	.holder {
		line-height: 1;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		color: #5E5E5E;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		padding: 16px 16px;
		@media screen and (max-width: 360px) {
			padding: 10px 16px;
		}
		img {
			width: 24px;
			height: 16px;
			margin-right: 8px;
		}
	}
	.dropdown-icon {
		display: none !important;
	}
	.dropdownOption li {
		line-height: 1;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		color: #5E5E5E;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		padding: 16px 16px;
		img {
			width: 24px;
			height: 16px;
			margin-right: 8px;
		}
	}
}